/.ConfigDslDescriptionLabelProvider.java._trace
/.ConfigDslDescriptionLabelProvider.xtendbin
/.ConfigDslLabelProvider.java._trace
/.ConfigDslLabelProvider.xtendbin
/ConfigDslDescriptionLabelProvider.java
/ConfigDslLabelProvider.java
